@using System.Data.Entity
@using qssWeb.Models
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@model System.Data.Entity.DbSet<User>

@foreach (var a in ViewData["users"] as DbSet<User>)
{
    <li>@a.userName</li>
}