@{
    ViewBag.Title = "用户密码修改";
    ViewData["bodyAttrs"] = "style=\"background: url(/images/login-background.jpg) no-repeat scroll 0 0px;background-size: cover;\"";
    ViewData["navList"] =
        "<li><a href=\"/Home/About\">About</a></li>" +
        "<li><a href=\"/Home/Contact\">Contact</a></li>";// +
        //"<li><a href=\"/User/Login\">登录</a> </li>";
}
<style>
    .form-horizontal .reset-pass {
        float: left;
        width: 60px;
        height: 20px;
        border-radius: 15%;
        position: relative;
        margin: 5px 0 0 5px;
    }
    
</style>
@Html.Raw(ViewData["script"])
<div class="login-bg" style="padding: 20px 0;margin-top: 60px">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-5">
                <form class="form-horizontal" action="#" method="post" onsubmit="return CheckRegister()">
                    <div class="heading">
                        <span>修改密码</span>
                        <br/>
                        <span style="font-size: 16px;margin-right: 24px" class="pull-right"><a href="Login">登录>></a></span>
                    </div>
                    
                    <div class="form-group">
                        <input value="@ViewData["userName"]" onkeydown="return onInput()" type="text" name="userName" class="form-control" id="userName" placeholder="用户名">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="form-group">
                        <input onkeydown="return onInput()" type="password" name="oldPassword" class="form-control" id="old-password" placeholder="原 密 码">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="form-group">
                        <input onkeydown="return onInput()" type="password" name="password" class="form-control" id="password" placeholder="新 密 码">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="form-group">
                        <input onkeydown="return onInput()" type="password" name="password2" class="form-control" id="password2" placeholder="确认密码">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="form-group">
                        <div class="pull-right" id="tips">@Html.Raw(ViewData["loginMsg"])</div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default form-control">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function onInput() {
        $("#tips").html();
    }

    $(function() {
        $("#old-password").val("");
    });
    
    function CheckRegister()
    {
        if ($("#userName").val().length === 0) {
            $("#tips").html("<font color='red'>用户名不能为空!</font>");
            return false;
        }
        
        if ($("#old-password").val().length === 0) {
            $("#tips").html("<font color='red'>原密码不能为空!</font>");
            return false;
        }
        if ($("#password").val().length === 0) {
            $("#tips").html("<font color='red'>新密码不能为空!</font>");
            return false;
        }
        
        if ($("#password2").val().length === 0) {
            $("#tips").html("<font color='red'>确认密码不能为空!</font>");
            return false;
        }
        
        if ($("#password").val()!==$("#password2").val()) {
            $("#tips").html("<font color='red'>两次密码输入不一致!</font>");
            $("#password2").val("");
            return false;
        }
        return true;
    }
</script>