@using qssWeb.Models
@model object

@{
    ViewBag.Title = ViewData["wName"] + "-所有答卷";
    Layout = "_Layout.cshtml";
    ViewData["bodyAttrs"] = "style=\"background-image: url(/images/login-background.jpg);background-repeat: no-repeat;background-attachment: fixed;background-size: cover;\"";
    var results = ViewData["results"] as ICollection<Result>;
}

@section css
{
    <style type="text/css">
        thead { background-color: #e4e7eb; }

        tbody { background-color: #f7fafc; }
    </style>
}

<div class="container">
    <ul id="toolbar" class="breadcrumb" style="height: 46px; font-size: 1.6em">
        <li><a href="/Wenjuan/Result?id=@results.First().qnId">问卷统计</a></li>
        <li class="active">@ViewData["title"]</li>
    </ul>

    <div class="list-group wenjuan-info">
        <table width="100%" class="table table-hover">
            <thead>
            <tr>
                <th style="width: 30%">答卷ID</th>
                <th style="width: 30%">提交时间</th>
                <th style="width: 20%">答卷</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var result in results)
            {
                <tr>
                    <td>
                        @result.resultId
                    </td>
                    <td>
                        @result.replyTime.Replace("T"," ").Substring(0,19)
                    </td>
                    <td>
                        <a href="/Wenjuan/ViewResult?id=@result.resultId">查看</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>

        @*<span class="list-group-item">
            <h4 class="list-group-item-heading">
                答卷
            </h4>
        </span>*@
        <ul class="list-unstyled">


        </ul>

    </div>


</div>